@import url('base/root.css');
@import url('base/navbar.css');
@import url('base/footer.css');

/*START BODY*/
/*==========================================================================*/

.card-container {
  width: 100%; /* Ancho del contenedor de tarjetas */
  margin: 20px auto; /* Margen superior de 20px, centrado horizontalmente */
  display: flex; /* Usa flexbox para alinear las tarjetas en línea */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}

.card {
  width: 900px; /* Ancho fijo para la tarjeta */
  height: auto; /* Altura automática para adaptarse al contenido */
  display: flex; /* Usa flexbox para alinear elementos internos */
  overflow: hidden; /* Evita que el contenido desborde */
  background-color: white; /* Fondo blanco para la tarjeta */
}

.card-video {
  height: 400px;
  flex: 1; /* La video ocupa la mitad del ancho de la tarjeta */
  overflow: hidden; /* Evita que el video desborde */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Asigna una sombra al video */
  margin: 20px;

}

.card-video video {
  width: 100%; /* El video ocupa todo el ancho del contenedor */
  height: 100%; /* Altura para llenar el contenedor */
  object-fit: cover; /* Ajusta el video para llenar el contenedor manteniendo la relación de aspecto */
}

.card-content {
  flex: 1; /* El contenido ocupa la otra mitad del ancho de la tarjeta */
  padding: 20px; /* Espaciado interno */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  margin-top: 0; /* Elimina el margen superior predeterminado */
  font-size: 24px; /* Ajusta el tamaño del título */
  color: rgba(138, 35, 116, 0.8); /* Establece el color del título */
  text-align: center;
}

.card-content p {
  margin: 10px 0 0 0; /* Ajusta el margen del párrafo */
  line-height: 1.5; /* Ajusta la altura de línea */
}
/*END BODY*/
/*==========================================================================*/